<% include partials/header %>

<form class="" action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="enter name">
  <input type="text" name="image" placeholder="enter image URL">
  <button>Submit</button>
</form>

<a href="/campgrounds">Back</a>

<% include partials/footer %>
