<h1>you fell in love with: <%= thingVar %></h1>

<%if(thingVar.toLowerCase() === 'jimmy'){ %>
  <p>good choice, jimmy is the best</p>
<%} else{ %>
  <p>Bad choice, you should said Jimmy</p>
<%}%>

<p>it comes from ejs file</p>
