p {

/*Content - Width and Height*/

width: 50%;

/*Border*/

border: 2px solid blue;

/*Padding*/

padding-left: 20px;
/*Margin*/
/*space outisde the border*/

/*margin: 20px 40px 100px 500px;*/

margin: 0 auto;

}




